<%= render  'shared/header'%>

<% if logged_in? %>
  <%= link_to "note作成", "note/new" %>
<% end %>

<% @notes.each do |note| %>

<a href="/show/<%= note.id %>" >

<p>
  <% if note.image.attached? %>
    <!--画像が登録されている場合の処理-->
    <%= image_tag note.image ,class:"circle-image"%>
  <% else %>
    <!--画像が登録されていない場合の処理-->
    <%= image_tag 'note.jpg',class:"circle-image"%>
  <% end %>

</p>

<div class= "note_title">
  タイトル：
  <%= note.title %>
  </a>
</div>


<% end %>

