<%= render  'shared/header'%>

<% if logged_in? %>
  <%= link_to "note作成", "note/new" %>
<% end %>

<% @notes.each do |note| %>
<p>-----------------</p>
<a href="/show/<%= note.id %>" >
<% if note.image.attached? %>
<!--画像が登録されている場合の処理-->
 <p><%= image_tag note.image,:size => "50x50" %></p>
<% else %>
<!--画像が登録されていない場合の処理-->
 <p><%= image_tag 'note.jpg',:size => "50x50"  %></p>
<% end %>

<p>
  
  タイトル：
  <%= note.title %>
  </a>
</p>



<% end %>


