<%= render  'shared/header'%>

<% if logged_in? %>
  
  <% @notes.each do |note| %>
    <div class="border-bottom border-dark border-2">
      <a href="/show/<%= note.id %>">
        <% if note.image.attached? %>
          <!--画像が登録されている場合の処理-->
          <%= image_tag note.image ,class:"circle-image"%>
        <% else %>
          <!--画像が登録されていない場合の処理-->
          <%= image_tag 'note.jpg',class:"circle-image"%>
        <% end %>
        <h6 class="note_title">
          <%= note.title %>
        </h6>
      </a>
    </div>
  <% end %>

  <%= paginate @notes, theme: 'twitter-bootstrap-4'%>




<% else %>
  <%= render 'shared/not_logged_in' %>
<% end %>