<%= render  'shared/header'%>

<%= alert %>

<% if logged_in? %>
  <%= form_with(model:@note, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <p>
    <%= f.label :note , "ノートタイトル" %>
    <%= f.text_field :title, class:"form-control bg-transparent text-light" %>
    </p>
    <%= f.hidden_field :user_id, :value => session[:user_id]%> 
    <%# ログインしているuser_idをnoteのuser_idに入れられるようにhidden_field %>

    <%= f.file_field :image, class: "form-control form-control-sm" %>
      

    <p>
    <%= f.submit :登録, class:"btn btn-primary mt-2", data: {disable_with: '作成中' }%>
    </p>

    <p>
    <%=  %>
    </p>

  <% end %>
<% else %>
  <%= render 'shared/flash_error' %>
  <%= render 'shared/not_logged_in' %>
<% end %>
