<%= render  'shared/header'%>

<%= alert %>

<%= form_with model:@note do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <p>
  <%= f.label :note , "ノートタイトル" %>
  <%= f.text_field :title %>
  </p>
  <%= f.hidden_field :user_id, :value => session[:user_id]%> 
  <%# ログインしているuser_idをnoteのuser_idに入れられるようにhidden_field %>

  <%= f.file_field :image %>
    

  <p>
  <%= f.submit data: {disable_with: '作成中' }%>
  </p>

  <p>
  <%=  %>
  </p>

<% end %>