
<p>
ノート番号：
<%= @note.id %>
</p>
<p>
ノートタイトル：
<%= @note.title %>
</p>

<%= link_to  "削除", "/notes/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>
---------------


<% @note.content.each do |note| %>
<%= link_to "/contents/#{note.id}/edit" do %>

<p>
タイトル：
<%= note.title %>
</p>


ノート内容：
<p>
<%= note.contents %>
</p>


<% end %>
-------------
<% end %>
</p>


