<%= render  'shared/header'%>

<%= render 'shared/note_title', { note: @note }%>


<p>
<%= link_to  "ノート削除", "/notes/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>
</p>
<p>
<%= link_to  "コンテンツ作成", "/contents/#{params[:id]}/new" %>
</p>

<div class="row">
  <% @note.content.each do |note| %>
  <div class="col-md-3">
    <div class="d-flex flex-row justify-content-center  bd-highlight mb-3">
      <div class="card" style="width: 18rem; background-color: wheat">
        <div class="card-body text-body">
          <h6 class="card-title border-bottom border-3 ">
            title：
            <%= note.title %>
          </h6>
          <p class="card-text"><%= note.contents %></p>
          <%= link_to "edit", "/contents/#{note.id}/edit" ,class:"btn btn-primary btn-sm" %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%=note.id%>">
            delete
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%=note.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content text-dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">タイトル：<%= note.title %>を削除しますか？</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                内容:
                <p><%= note.contents %></p> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <%= link_to "削除", "/contents/#{note.id}" ,method: :delete ,class:"btn btn-danger" %>
                </div>
              </div>
            </div>
          </div>
 
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


