<%= render  'shared/header'%>

<% if @note.image.attached? %>
<!--画像が登録されている場合の処理-->
 <p><%= image_tag @note.image,:size => "50x50" %></p>
<% else %>
<!--画像が登録されていない場合の処理-->
 <p><%= image_tag 'note.jpg',:size => "50x50"  %></p>
<% end %>
<p>
ノート番号：
<%= @note.id %>
</p>
<p>
ノートタイトル：
<%= @note.title %>
</p>

<p>
<%= link_to  "ノート削除", "/notes/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>
</p>
<p>
<%= link_to  "コンテンツ作成", "/contents/#{params[:id]}/new" %>
</p>
---------------



<% @note.content.each do |note| %>
<%= link_to "/contents/#{note.id}/edit" do %>

<p>
タイトル：
<%= note.title %>
</p>

<% end %>
-------------
<% end %>
</p>


