<%= render  'shared/header'%>

<% if @note.image.attached? %>
<!--画像が登録されている場合の処理-->
 <p><%= image_tag @note.image,class:"circle-image"%></p>
<% else %>
<!--画像が登録されていない場合の処理-->
 <p><%= image_tag 'note.jpg',class:"circle-image"%></p>
<% end %>
<p>
ノートタイトル：
<%= @note.title %>
</p>

<p>
<%= link_to  "ノート削除", "/notes/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>
</p>
<p>
<%= link_to  "コンテンツ作成", "/contents/#{params[:id]}/new" %>
</p>



<% @note.content.each do |note| %>
  <div class="d-flex flex-row justify-content-center  bd-highlight mb-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body text-body">
        <h6 class="card-title border-bottom border-3">
          タイトル：
          <%= note.title %>
        </h6>
        <p class="card-text"><%= note.contents %></p>
        <%= link_to "編集", "/contents/#{note.id}/edit" ,class:"btn btn-primary btn-sm" %>
        <%= link_to "削除", "/contents/#{note.id}" ,method: :delete ,class:"btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
</p>


