<%= render  'shared/header'%>

<p>
ノート番号：
<%= @note.id %>
</p>
<p>
ノートタイトル：
<%= @note.title %>
</p>
<%= image_tag @note.image %>
<p>
<%= link_to  "ノート削除", "/notes/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>
</p>
<p>
<%= link_to  "コンテンツ作成", "/contents/#{params[:id]}/new" %>
</p>
---------------



<% @note.content.each do |note| %>
<%= link_to "/contents/#{note.id}/edit" do %>

<p>
タイトル：
<%= note.title %>
</p>

<% end %>
-------------
<% end %>
</p>


