<%= render  'shared/header'%>




    <%= form_with model:@content do |f| %>


        <%= f.label :title , "タイトル" %>
        <%= f.text_field :title %>


        <%= f.label :contents , "ノート" %>
        <%= f.rich_text_area :contents %>


        <%= f.submit %>


    <% end %>

  


<%= link_to  "コンテンツ削除", "/contents/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>


<% @notes.each do |note| %>
  <div class="accordion w-auto" id="accordion<%=note.id%>">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%=note.id%>">
        <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=note.id%>" aria-expanded="true" aria-controls="collapse<%=note.id%>">
          <%=note.title%>
        </button>
      </h2>
      <div id="collapse<%=note.id%>" class="accordion-collapse collapse toggle bg-secondary" aria-labelledby="heading<%=note.id%>" data-bs-parent="#accordion<%=note.id%>">
        <div class="accordion-body text-light">
          <%note.content.each do |note_content|%>
          <%= note_content.contents %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>