<%= render  'shared/header'%>



<div class="flex_test-box">
  <div class="flex_test-item">
    <%= form_with model:@content do |f| %>


        <%= f.label :title , "タイトル" %>
        <%= f.text_field :title %>


        <%= f.label :contents , "ノート" %>
        <%= f.rich_text_area :contents %>


        <%= f.submit %>
        <%= link_to  "コンテンツ削除", "/contents/#{params[:id]}", method: :delete, data: {confirm: "Are you sure?"}%>

    <% end %>
  </div>
  
  <div class="flex_test-item">
    <%= render 'shared/notes' %>
  </div>
</div>
  





