

<%= render  'shared/header'%>

<% if logged_in? %>
  

  <%= render 'shared/note_title', { note: @note }%>

  <div class="flex_test-box">
    <div class="flex_test-item">
      <%= form_with(model:@content, local: true) do |f| %>


          <%= f.label :title , "コンテンツタイトル"%>
          <%= f.text_field :title,class:"form-control bg-transparent text-light" %>


          <%= f.label :contents %>
          <%= f.rich_text_area :contents, class:"form-control bg-transparent text-light " %>
        <div class="d-grid gap-3 mt-1">
          <%= f.submit :変更保存, class:"btn btn-primary" %>

          <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#exampleModal<%=@content.id%>">
            delete
          </button>
        </div>
      <% end %>
      
    <div class= "pull-right">

    </div>
      <!-- Modal -->
    <div class="modal fade" id="exampleModal<%=@content.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-dark">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">タイトル：<%= @content.title %>を削除しますか？</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              内容:
              <p><%= @content.contents %></p> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= link_to "削除", "/contents/#{@content.id}" ,method: :delete ,class:"btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="flex_test-item">
      <%= render 'shared/notes', { note: @content} %>
    </div>
  </div>
  </div>
</div>
<% else %>
  <%= render 'shared/flash_error' %>
  <%= render 'shared/not_logged_in' %>
<% end %>



