<%= link_to "ノート作成" , '/' %>

<% @contents.each do |content| %>
<p>
<%= content.id %>
</p>
<p>
<%= content.title %>
</p>
<p>
<%= content.contents %>
</p>
<p>
<%= content.created_at %>
</p>

<%= link_to "編集", "contents/#{content.id}/edit" %>
<%= link_to "削除","#" %>
--------------------------

<% end %>