<%= link_to "ノート作成" , root_path %>

<% @contents.each do |content| %>
<p>
<%= content.id %>
</p>
<p>
<%= content.title %>
</p>
<p>
<%= content.contents %>
</p>
<p>
<%= content.created_at %>
</p>
--------------------------

<% end %>