<%= notice %>
<%= alert %>


<%= link_to"ノート一覧", 'contents' %>
<%= link_to"ノートを作る", 'note/new' %>
<%= form_with(model:@content, local: true) do |f| %>
<%= render 'shared/error_messages' %>
  <p>
  <%= f.label :title , "タイトル" %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :contents , "ノート" %>
  <%= f.text_area :contents %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>