<%= render  'shared/header'%>

<%= render 'shared/note_title', { note: @note }%>

<% if logged_in? %>
  <div class="flex_test-box">
    <div class="flex_test-item">
      <%= form_with(model:@content, local: true) do |f| %>

          <%= f.label :title , "コンテンツタイトル"%>
          <%= f.text_field :title,class:"form-control bg-transparent text-light" %>


          <%= f.label :contents %>
          <%= f.rich_text_area :contents, class:"form-control bg-transparent text-light" %>

          <%= f.hidden_field :note_id, :value => params[:id]%> 
          <%# 入っているノート内でコンテンツを作成できるようにhidden_fieldでurlからidを受ける %>

        <div class="d-grid gap-3 mt-1">
          <%= f.submit :作成, class:"btn btn-primary" %>
        </div>

      <% end %>
    </div>
    <div class="flex_test-item">
      <%= render "shared/notes" %>
    </div>
  </div>
<% else %>
  <%= render 'shared/not_logged_in' %>
<% end %>