<%= render  'shared/header'%>

<%= link_to"ノート一覧", "/notes/#{params[:id]}" %>
<%= link_to"ノートを作る", '/note/new' %>

<% if flash[:error].present? %>
  <% flash[:error].each do |e| %>
    <li><%= e %></li>
  <% end %>
<% end %>

<%= form_with(model:@content, local: true) do |f| %>

  <p>
  <%= f.label :title , "タイトル" %>
  <%= f.text_field :title %>
  </p>

  <p>
  <%= f.label :contents , "ノート" %>
  <%= f.rich_text_area :contents %>
  
  <%= f.hidden_field :note_id, :value => params[:id]%> 
  <%# 入っているノート内でコンテンツを作成できるようにhidden_fieldでurlからidを受ける %>
  </p>

  <p>
  <%= f.submit %>
  </p>


<% end %>

<% @notes.each do |note| %>
  <%= link_to "/show/#{note.id}" do %>
    <p>
    <%= note.title %>
    </p> 
  <% end %>
<% end %>

