<%= render  'shared/header'%>



<%= form_with(model:@user, local: true) do |f| %>
  
  <p>
  <%= f.label :email , "Email address" %>
  <%= f.text_field :email, class:"form-control"  %>
  </p>
  <p>
  <%= f.label :password , "Password" %>
  <%= f.password_field :password, class:"form-control" %>  
  </p>

  <p>
  <%= f.label :password_confirmation , "Password confirm" %>
  <%= f.password_field :password_confirmation, class:"form-control" %>  
  </p>


  <p>

    <%= f.submit :登録, class:"btn btn-primary"%>

  </p>
<% end %>